<section>
  <div class="containerBackground">
    <h2 class="textoPokemon">Pokedex</h2>
    <div class="slider">
      <span style="--i:1;"><img src="https://img.pokemondb.net/sprites/home/normal/lapras.png" alt="Lapras"></span>
      <span style="--i:2;"><img src="https://img.pokemondb.net/sprites/home/normal/donphan.png" alt="Donphan"></span>
      <span style="--i:3;"><img src="https://img.pokemondb.net/sprites/home/normal/lugia.png" alt="Lugia"></span>
      <span style="--i:4;"><img src="https://img.pokemondb.net/sprites/home/normal/rayquaza.png" alt="Rayquaza"></span>
      <span style="--i:5;"><img src="https://img.pokemondb.net/sprites/home/normal/cinccino.png" alt="Cinccino"></span>
      <span style="--i:6;"><img src="https://img.pokemondb.net/sprites/home/normal/pikachu.png" alt="Pikachu"></span>
      <span style="--i:7;"><img src="https://img.pokemondb.net/sprites/home/normal/spectrier.png"
          alt="Spectrier"></span>
      <span style="--i:8;"><img src="https://img.pokemondb.net/sprites/home/normal/charizard.png"
          alt="Charizard"></span>
    </div>
    <button class="btnBuscar" routerLink="/Pokedex" (click)="activarOverflow()">Buscar Pokemon</button>
  </div>
  <div class="overlay" *ngIf="showOverflow"></div>
</section>
