.overlay
  //position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  z-index: 9999

body
  &.overflow-hidden
    overflow: hidden

.containerBackground
  display: flex
  flex-direction: column
  justify-content: space-around
  align-items: center
  height: 100vh
  background-image: url("../../assets/images/backgroundPokemon2.jpg")
  background-size: cover
  background-position: center

.textoPokemon
  color: #fff
  -webkit-text-stroke: 5px black
  font-size: 8rem
  text-align: center
  margin: 0

.btnBuscar
  cursor: pointer
  text-decoration: none
  display: flex
  margin-bottom: 90px
  padding: 8px 30px
  color: #fff
  font-size: 1.2em
  font-weight: 500
  letter-spacing: 2px
  background: #110011
  border-radius: 20px
  &:hover
    background: #3d003d

.slider
  position: relative
  width: 200px
  height: 50px
  transform-style: preserve-3d
  animation: rotate 30s linear infinite
  margin-bottom: 300px
  span
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    transform-origin: center
    transform-style: preserve-3d
    transform: rotateY(calc(var(--i)*45deg)) translateZ(300px)
  img
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: auto
    border-radius: 10px
    object-fit: cover
    transition: 2s
    &:hover img
      transform: translateY(-50px) scale(1.2)

@keyframes rotate
  from
    transform: perspective(1000px) rotateY(0)
  to
    transform: perspective(1000px) rotateY(360deg)

@media screen and (max-width: 768px)
  .containerBackground
    background-size: cover
    background-repeat: no-repeat

  .textoPokemon
    font-size: 4rem
    -webkit-text-stroke: 3px black

  .btnBuscar
    font-size: 1em
    padding: 8px 20px

  .slider
    margin-bottom: 150px
    width: 100px
    height: 30px
    animation: rotate 20s linear infinite

    span
      transform: rotateY(calc(var(--i)*30deg)) translateZ(150px)

    img
      width: 100%
      height: auto
      &:hover img
        transform: translateY(-30px) scale(1.1)

@media screen and (min-width: 768px) and (max-width: 1024px)
  .slider
    margin-bottom: 200px
    width: 180px
    height: 40px
    animation: rotate 25s linear infinite

    span
      transform: rotateY(calc(var(--i)*40deg)) translateZ(250px)

    img
      &:hover img
        transform: translateY(-40px) scale(1.2)

@media screen and (min-width: 1024px)
  .slider
    margin-bottom: 300px
    width: 200px
    height: 50px
    animation: rotate 30s linear infinite

    span
      transform: rotateY(calc(var(--i)*45deg)) translateZ(300px)

    img
      &:hover img
        transform: translateY(-50px) scale(1.2)
